<ion-header>
  <ion-toolbar>
    <ion-title>
      Jogo da Velha
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="roomFullMessage" class="room-full-message">
    {{ roomFullMessage }}
  </div>
  <div *ngIf="assignedSymbolMessage" class="assigned-symbol-message">
    {{ assignedSymbolMessage }}
  </div>
  <div class="board" *ngIf="playerSymbol && readyToPlay">
    <div 
      class="cell" 
      *ngFor="let cell of board; let i = index" 
      (click)="makeMove(i)" 
      [attr.aria-label]="'Cell ' + (i + 1)"
      role="button"
      tabindex="0">
      {{ cell }}
    </div>
  </div>
  <div class="scores" *ngIf="readyToPlay">
    <h3>Pontuação:</h3>
    <div *ngFor="let id of Object.keys(scores)">
      <p>Jogador {{ id }}: {{ scores[id] }} vitória(s)</p>
    </div>
  </div>
  <div class="controls" *ngIf="playerSymbol && readyToPlay">
    <ion-button (click)="resetGame()">Novo Jogo</ion-button>
  </div>
</ion-content>
