  <div class="scores" *ngIf="readyToPlay">
    <h3>Pontuação</h3>
  </div>

<ion-content>
  <div class="card-player">
    @for (symbol of symbols; track $index) {
        <div>
          <span [ngClass]="{ 'text-red': symbol === 'X', 'text-blue': symbol === 'O' }">{{symbol}}</span>
        </div>
        @if (symbol == 'X') {
          <label>{{displayScores['X']}}</label>
        } @else {
          <label>{{displayScores['O']}}</label>
        }
      }
  </div>

    @if (roomFullMessage) {
    <div class="room-full-message">{{ roomFullMessage }}</div>
    }
  
    @if (assignedSymbolMessage) {
    <div class="assigned-symbol-message">{{ assignedSymbolMessage }}</div>
    }
  
    @if (playerSymbol && readyToPlay) {
    <div class="board">
      <div class="cell" *ngFor="let cell of board; let i = index" (click)="makeMove(i)" [attr.aria-label]="'Cell ' + (i + 1)" role="button" tabindex="0">
        <span [ngClass]="{ 'text-red': cell === 'X', 'text-blue': cell === 'O' }">{{ cell }}</span>
      </div>
    </div>
    } @else {
    <p>Esperando jogador</p>
    }

    <div class="controls" *ngIf="playerSymbol && readyToPlay">
      <button (click)="resetGame()">Novo Jogo</button>
    </div>
  </ion-content>
